<h3>施設詳細</h3>

  <table>
    <tr>
      <th>施設名</th>
      <td><%= @room.name_facility %></td>
    </tr>

    <tr>
      <th>施設詳細</th>
      <td><%= @room.introduction %></td>
    </tr>

    <tr>
      <th>料金</th>
      <td><%= @room.price %></td>
    </tr>

    <tr>
      <th>施設画像</th>
      </td>

      <ul>
        <li><%= link_to "戻る", :back %></li>
      </ul>
  </table>


